In [1]:
import pandas as pd 
from sqlalchemy import create_engine, MetaData

In [4]:
engine = create_engine('mysql+pymysql://root:workbench2025@localhost:3306')

In [5]:
con = engine.connect()

In [6]:
from sqlalchemy import text

In [12]:
con.execute(text('create database churn_db'))

In [8]:
engine = create_engine('mysql+pymysql://root:workbench2025@localhost:3306/churn_db')
con = engine.connect()

In [15]:
df = pd.read_csv('train.csv')

df.head()

,customer_id,age,location,subscription_type,payment_plan,num_subscription_pauses,payment_method,customer_service_inquiries,signup_date,weekly_hours,average_session_length,song_skip_rate,weekly_songs_played,weekly_unique_songs,num_favorite_artists,num_platform_friends,num_playlists_created,num_shared_playlists,notifications_clicked,churned
0,1,32,Montana,Free,Yearly,2,Paypal,Medium,-1606,22.391362,105.394516,0.176873,169,109,18,32,52,35,46,0
1,2,64,New Jersey,Free,Monthly,3,Paypal,Low,-2897,29.294210,52.501115,0.981811,55,163,44,33,12,25,37,1
2,3,51,Washington,Premium,Yearly,2,Credit Card,High,-348,15.400312,24.703696,0.048411,244,117,20,129,50,28,38,0
3,4,63,California,Family,Yearly,4,Apple Pay,Medium,-2894,22.842084,83.595480,0.035691,442,252,47,120,55,17,24,0
4,5,54,Washington,Family,Monthly,3,Paypal,High,-92,23.151163,52.578266,0.039738,243,230,41,66,40,32,47,0

In [16]:
df.to_sql('churn', con = con,if_exists='replace')

125000

In [11]:
df = pd.read_sql("select * from churn limit 10", con=con)